<div class="container-fluid">
  <nav class="nav navbar navbar-inverse">
    <div class="container nav-list">
      <h4 class="nav-tab">DEV FORUM</h4>
      <h5>{{#link-to 'index'}}Home{{/link-to}}</h5>
      <h5>{{#link-to 'about'}}/About{{/link-to}}</h5>
      <h5>{{#link-to 'contact'}}/Contact{{/link-to}}</h5>
    </div>
  </nav>
  <div class="container">
    {{outlet}}
  </div>
</div>
